{% extends 'base.html.twig' %}

{% block header %}
<!-- Ne rien mettre ici pour ne pas afficher le header -->
{% endblock %}

{% block body %}
    <div class="login-boxx">
        <h2>Inscription</h2>

        {{ form_start(registrationForm) }}

        <div class="form-container">
            <div class="form-column">
                <div class="user-boxx">
                    {{ form_label(registrationForm.banniere) }}
                    {{ form_widget(registrationForm.banniere, { 'attr': { 'class': 'banniere-select', 'onchange': 'updateBanniere(this)' } }) }}
                    {{ form_errors(registrationForm.banniere) }}
                    <img id="banniere-preview" src="{{ asset('img/bannvins1.png') }}" alt="Banniere Preview" style="max-height: 80px;">
                </div>

                <div class="user-boxx">
                    {{ form_label(registrationForm.avatar) }}
                    {{ form_widget(registrationForm.avatar, { 'attr': { 'class': 'avatar-select', 'onchange': 'updateAvatar(this)' } }) }}
                    {{ form_errors(registrationForm.avatar) }}
                    <img id="avatar-preview" src="{{ asset('img/D1.png') }}" alt="Avatar Preview" style="max-width: 80px;">
                </div>

                <div class="form-group">
                    {{ form_label(registrationForm.roles) }}
                    {{ form_widget(registrationForm.roles, { 'attr': { 'class': 'radio-group' } }) }}
                    {{ form_errors(registrationForm.roles) }}
                </div>
            </div>

            <div class="form-column">
                <div class="user-boxx">
                    {{ form_label(registrationForm.pseudo) }}
                    {{ form_widget(registrationForm.pseudo) }}
                    {{ form_errors(registrationForm.pseudo) }}
                </div>

                <div class="user-boxx">
                    {{ form_label(registrationForm.nom) }}
                    {{ form_widget(registrationForm.nom) }}
                    {{ form_errors(registrationForm.nom) }}
                </div>

                <div class="user-boxx">
                    {{ form_label(registrationForm.prenom) }}
                    {{ form_widget(registrationForm.prenom) }}
                    {{ form_errors(registrationForm.prenom) }}
                </div>

                <div class="user-boxx">
                    {{ form_label(registrationForm.email) }}
                    {{ form_widget(registrationForm.email) }}
                    {{ form_errors(registrationForm.email) }}
                </div>

                <div class="user-boxx">
                    {{ form_label(registrationForm.plainPassword) }}
                    {{ form_widget(registrationForm.plainPassword) }}
                    {{ form_errors(registrationForm.plainPassword) }}
                </div>
            </div>
        </div>

        <button type="submit" id="btnForm">Inscription</button>
        {{ form_end(registrationForm) }}
    </div>

     <script>
    function updateAvatar(select) {
        var avatarPreview = document.getElementById('avatar-preview');
        avatarPreview.src = '{{ asset('') }}' + select.value;
    }

    function updateBanniere(select) {
        var bannierePreview = document.getElementById('banniere-preview');
        bannierePreview.src = '{{ asset('') }}' + select.value;
    }
</script>
{% endblock %}
