<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}WineBase{% endblock %}</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">

        <link rel="icon" href="{{ asset('img/btll.png') }}">
        <link rel="stylesheet" href="{{ asset('css/general.css') }}">
        <link rel="stylesheet" href="{{ asset('css/form.css') }}">
        <link rel="stylesheet" href="{{ asset('css/nav.css') }}">
        <link rel="stylesheet" href="{{ asset('css/indexvins.css') }}">
        <link rel="stylesheet" href="{{ asset('css/formvins.css') }}">
        <link rel="stylesheet" href="{{ asset('css/cave.css') }}">
        <link rel="stylesheet" href="{{ asset('css/register.css') }}">
        <link rel="stylesheet" href="{{ asset('css/notesvins.css') }}">
        <link rel="stylesheet" href="{{ asset('css/params.css') }}">
        <link rel="stylesheet" href="{{ asset('css/dashboard.css') }}">
        <link rel="stylesheet" href="{{ asset('css/welcome.css') }}">
        <link rel="stylesheet" href="{{ asset('css/etab.css') }}">

        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}

    </head>
    <style>

    </style>
    <body>
    {% block header %}
        <header>
            {%  include('inc/header.html.twig') %}

        </header>
    {% endblock %}
        {% block body %}

          {% endblock %}

    </body>
</html>
